.navbarrr{
    background-color:#F1F3FF;
    padding-top: 20px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 42px;
    padding-left: 0px;
    color: black;
    font-size: large;
    font-weight: 400;
}
.hero{
    padding-top: 45px;
    background-color: #F1F3FF;
}
.se{
    font-size: 42px;
    font-weight: bold;
}
.wa{
    padding-right: 109px;
}
.bannersewa {
    padding-bottom: 15px;
}
.tombol{
    background-color: #5CB85F;
    border-color: transparent;
}
.mobil {
    width:100%;
}
.servis{
    padding-top: 80px;
    padding-bottom: 50px;
}
.wanita {
    width: 100%;
}
.list-sm{
    padding-left: 175px;
}
.knd{
    font-size: 25px;
}
.kmn{
    font-size: 14px;
}
/* .ceklis{
    margin-left: -30px;
    margin-right: 20px;
} */
.why-us{
    padding-top: 30px;
    padding-bottom: 40px;
}
.whyustext {
    padding-bottom: 15px;
}
.mengapa {
    padding-bottom: 20px;
}
.why-us .d-flex{
    padding-top: 20px;
}
.testimonial{
    padding-top: 30px;
    padding-bottom: 50px;
}
.banner{
    background-color: #0D28A6;
    padding-top: 50px;
    padding-bottom: 50px;
}
.faq{
    padding-top: 80px;
    padding-bottom: 100px;
}
.footer{
    padding-top: 20px;
    padding-bottom: 60px;
}

@media only screen and (max-width: 600px) {
    .whyustext {
        text-align: center;
    }
    .mengapa {
        text-align: center;
    }
    .whyusrental {
        text-align: center;
        padding-bottom: 10px;
    }
    .banner {
        width: 100%;
    }
    .faqtext {
        text-align: center;
    }
  }